.vis-texts-panel {
  position: absolute;
  width: 653px;
  height: 400px;
  z-index: 3;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
}

.row-enter {
  opacity: 0.01;
}

.row-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.row-exit {
  opacity: 1;
}

.row-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}