.vis-texts-panel {
  position: absolute;
  width: 653px;
  height: 400px;
  z-index: 3;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
}

@media (max-width: 767px) {
  .vis-texts-panel {
    width: 630px;
  }
}