/* ==== PATIČKA ==== */
.footer {
    background: #264011;
    color: #fff;
    /* Stick to the bottom */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    line-height: 10px;
    left: 0;
}
.footer .bottom-bar {
    background: #1c2f0d;
    padding: 5px 0;
}
.footer .bottom-bar .copyright {
    font-size: 13px;
    color: #dcdcdc;
    line-height: 3;
}
.footer .bottom-bar .copyright a {
    color: #dcaeae;
}
.footer .bottom-bar .copyright a:hover {
    color: #f5f8fb;
}
@media (max-width: 767px) {
    .footer {
        background: #264011;
        color: #fff;
        /* Stick to the bottom */
        height: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
/* MQ - Střední úhlopříčka (tablety, 768px a více) */
@media (min-width: 768px) {
    .footer {
        background: #264011;
        color: #fff;
        /* Stick to the bottom */
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        line-height: 10px;
        left: 0;
    }
}
/* Velká úhlopříčka (desktopy, 992px a víc) */
@media (min-width: 992px) {
    .footer {
        background: #264011;
        color: #fff;
        /* Stick to the bottom */
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        line-height: 10px;
        left: 0;
    }
}