/* ==== PATIČKA ==== */
.footer {
    background: #264011;
    color: #fff;
    height: 344px;
}
.footer ul {
    padding-left: 0;
}
.footer li {
    list-style: none;
}
.footer h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.footer .footer-content {
    padding: 30px 0;
    font-size: 14px;
    min-height: 280px;
}
.footer .footer-content .footer-col .footer-col-inner {
    padding: 0 15px;
}
.footer .footer-content .footer-col li {
    margin-bottom: 10px;
    font-size: 14px;
}
.footer .footer-content .footer-col a {
    color: #dcdcdc;
}
.footer .footer-content .footer-col a:hover {
    color: #c98484;
}
.footer .footer-content .adr {
    margin-bottom: 30px;
    margin-left: 8px;
}
.footer .bottom-bar {
    background: #1c2f0d;
    padding: 5px 0;
}
.footer .bottom-bar .copyright {
    font-size: 13px;
    color: #dcdcdc;
    line-height: 3;
}
.footer .bottom-bar .copyright a {
    color: #dcaeae;
}
.footer .bottom-bar .copyright a:hover {
    color: #f5f8fb;
}

@media (max-width: 767px) {
    .footer {
        height: auto;
    }
    .footer-col-inner {
        margin-bottom: 30px;
    }
}
/* MQ - Střední úhlopříčka (tablety, 768px a více) */
@media (min-width: 768px) {
    .footer {
        height: auto;
    }
    .footer-col-inner {
        margin-bottom: 15px;
    }
}
/* Velká úhlopříčka (desktopy, 992px a víc) */
@media (min-width: 992px) {
    .footer {
        height: 324px;
        /* musí mít stejnou výšku jako patička */
    }
}