/* === HLAVNÍ NAVIGACE === */
.main-nav {
  background: #ba6060;
  color: #fff;
  /*background: #ad2121;*/
  margin-bottom: 30px;
}

/* = Navbar Icon = */
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
  background: #8f3e3e;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-brand>img {
  padding: 5px 5px;
  margin-right: 3px;
  width: 45px;
  height: 45px;
}

.main-nav button {
  background: #5a2727;
  color: #fff;
  border-radius: 0;
  /*nezakulacovat rohy*/
}

/* barva čar vysunovacího tlačítka */
.main-nav button .icon-bar {
  background-color: #fff;
}

.main-nav .navbar-collapse {
  padding: 0;
}

.main-nav .nav .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  font-family: arial, sans-serif;
  letter-spacing: .4px;
}

.main-nav .nav .nav-item a {
  color: #fff;
  text-decoration: none;
}

.main-nav .nav .nav-item a:hover {
  background: #a35454;
  color: #fff;
}

.main-nav .nav .nav-item a:focus {
  background: #a35454;
  color: #fff;
}

.main-nav .nav .nav-item.active {
  position: relative;
}

.main-nav .nav .nav-item.active>a {
  background: #a14646;
  color: #fff;
}

.main-nav .nav .nav-item.active>a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}

.main-nav .nav .nav-item.active>a.dropdown-toggle:before {
  display: none;
}

.main-nav .nav .nav-item.open a {
  background: #a14646;
  color: #fff;
}

.main-nav .nav .nav-item .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  padding: 0;
  text-transform: none;
  min-width: 220px;
}

.main-nav .nav .nav-item .dropdown-menu a {
  border-bottom: 1px solid #8f3e3e;
  padding: 8px 20px;
}

.main-nav .nav .nav-item .dropdown-menu a:hover {
  background: #8f3e3e;
  color: #fff;
  padding-left: 24px;
}

/* MQ - Malé úhlopříčky (telefony, méně než 768px) */
@media (max-width: 767px) {
  .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 0;
  }
  .navbar-nav {
    margin-top: 0;
  }
  .main-nav .nav .nav-item.active>a:before {
    content: none;
  }
}