/* ======= Základ ======= */
.wrapper {
  min-height: 100%;
  margin-bottom: -344px;
  /* stejná jako výška patičky */
}
.wrapper:after {
  display: block;
  height: 344px;
  /* musí mít stejnou výšku jako patička */
}
.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.GraphBox {
  border: 1px solid lightgray;
  width: 650px;
  height: 400px;
  z-index: 1;
}
.over-component {
  position: absolute;
  width: 650px;
  height: 400px;
  /*background-color: #3f51b5;*/
  z-index: 2;
}
/* === SEZNAMY OBSAHU === */
.page-wrapper ul li {
  margin-bottom: 5px;
}
.page-wrapper ul li.list-group-item {
  margin-bottom: -1px;
}
.page-wrapper ul.nav li {
  margin-bottom: 0;
}
.page-wrapper ol li {
  margin-bottom: 5px;
}
.page-wrapper dl dd {
  margin-bottom: 5px;
}
/* === NADPISY OBSAHU === */
.page-wrapper .page-content h1 {
  font-size: 26px;
  font-weight: normal;
}
.page-wrapper .page-content h2 {
  font-size: 24px;
  font-weight: normal;
}
.page-wrapper .page-content h3 {
  font-size: 20px;
  font-weight: normal;
  color: #303079
}
.page-wrapper .page-content h4 {
  font-size: 18px;
  font-weight: normal;
}
.page-wrapper .page-content .title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
}
.page-wrapper .page-content .page-row {
  margin-bottom: 30px;
}
/* ==== POSTRANNÍ PANEL ==== */
aside h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
}
/* MQ - Malé úhlopříčky (telefony, méně než 768px) */
@media (max-width: 767px) {  
  .wrapper {
    min-height: inherit;
    margin-bottom: 0;
  }
  .wrapper:after {
    content: none;
  }
  aside {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 0px;
  }
  /* Pro malé úhlopříčky centrujeme na střed a ke stranám */
  .pull-right,
  .pull-left {
    float: none !important;
  }
  .logo {
    text-align: center;
  }
  .header .contact p {
    text-align: center;
    margin-right: 0;
    margin-bottom: 5px;
    float: none;
  }
  .header .menu-top {
    text-align: center;
    margin-top: 10px;
  }
  .header .menu-top li {
    float: none;
    display: inline-block;
  }
  .header br {
    display: none;
  }
  .page-wrapper .page-heading h1.heading-title {
    float: none;
    text-align: center;
    display: block;
  }
  .page-wrapper .breadcrumbs {
    text-align: center;
    display: block;
  }
  .page-wrapper .breadcrumbs ul {
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto;
  }
  .page-wrapper .breadcrumbs ul li {
    float: none;
    display: inline-block;
  }
  .page-wrapper .breadcrumbs ul li.current {
    max-width: inherit;
    overflow: visible;
  }
  .form-group {
    padding-bottom: 10px;
  }
}
/* MQ - Střední úhlopříčka (tablety, 768px a více) */
@media (min-width: 768px) {   
  .wrapper {
    min-height: inherit;
    margin-bottom: 0;
  }
  .wrapper:after {
    content: none;
  }
}
/* Velká úhlopříčka (desktopy, 992px a víc) */
@media (min-width: 992px) {
  .wrapper {
    min-height: 100%;
    margin-bottom: -344px;
    /* stejná výška jako patička */
  }
  .wrapper:after {
    content: "";
    display: block;
    height: 324px;
    /* musí mít stejnou výšku jako patička */ 
  }
  .page-wrapper {
      min-height: 600px;
  }
}