/* ======= Základ ======= */
.wrapper {
    min-height: 100%;
    margin-bottom: -30px;
    /* stejná jako výška patičky */
}
.wrapper:after {
    display: block;
    height: 30px;
    /* musí mít stejnou výšku jako patička */
}
.btn {
    transition: all 0.4s ease-in-out;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.over-component {
    position: absolute;
    width: 650px;
    height: 400px;
    /*background-color: #3f51b5;*/
    z-index: 3;
}
.svg-cover-panel {
    position: absolute;
    width: 650px;
    height: 400px;
    z-index: 2;
}
.GraphBox {
    border: 1px solid lightgray;
    width: 650px;
    height: 400px;
    z-index: 1;
}
/* ==== MAIN ČÁST ==== */
.bg-info {
    padding: 5px;
    margin: 0 0 5px 0;
}
#definition {
    border: 1px solid rgba(97, 173, 255, 0.51);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.controls-panel {
    width: 650px;
    border: 1px solid lightgrey;
    background-color: #fafafa;
}
#proofBox {
    max-width: 500px;
    border: 1px solid rgba(235, 150, 0, 0.5);
    padding: 5px;
    max-height: 500px;
    /*overflow-y: scroll;*/
}
#proofBox p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
    vertical-align: middle;
}
#proofBox p.text-center {
    text-align: center;
}
#proofBox>div {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid rgba(235, 150, 0, 0.5);
    /*max-height: 150px;
    overflow-y: scroll;*/
    opacity: 0.4;
}
#proofBox>div.borderless {
    border-bottom: 0;
}
#proofBox .proof-active {
    opacity: 1;
    /*background-color: #a14646;*/
}
#proofBox .proof-active p {
    font-size: 18px;
}
#divSentenceBox {
    max-width: 600px;
    background-color: #EEEEEE;
    border: 2px solid #E0E0E0;
    margin-top: 10px;
    padding: 5px;
    /*max-height: 150px;
    overflow-y: scroll;*/
}
.text-green {
    /*Green 800*/
    color: #2E7D32;
}
.text-blue {
    /*Blue A700*/
    color: #2962FF;
}
.text-indigo {
    /*Indigo 500*/
    color: #3F51B5;
}
.text-red {
    /*Red A700*/
    color: #D50000;
}
.text-brown {
    /*Brown 500*/
    color: #795548;
}
#mynetwork {
    width: 650px;
    height: 400px;
    border: 1px solid lightgray;
}
.descriptionBox {
    width: 650px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid lightgray;*/
}
.descriptionBox p {
    /*border: 1px solid lightgray;*/
    font-size: 16px;
    text-align: center;
}
.repeat-box {
    background-color: #fafafa;
    border: 1px solid lightgrey;
    padding: 10px 10px 0 10px;
    margin-top: 15px;
}
.repeat-box p {
    text-align: left;
}
.controls-panel {
    padding: 5px;
    text-align: center;
}
.step-panel {
    margin-right: 30px;
}
.sketch-buttons {
    border-left: 1px solid #fafafa;
}
.animation-panel {
    margin-left: 15px;
}
/* == CONTEXTOVE MENU UPRAVY VRCHOLU == */
#operation {
    font-size: 18px;
}
#editNodeDialog {
    display: none;
    position: absolute;
    top: 50px;
    left: 170px;
    z-index: 299;
    width: 350px;
    height: 300px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #E0E0E0;
    padding: 10px;
    text-align: center;
}
/* === SEZNAMY OBSAHU === */
.page-wrapper ul li {
    margin-bottom: 5px;
}
.page-wrapper ul li.list-group-item {
    margin-bottom: -1px;
}
.page-wrapper ul.nav li {
    margin-bottom: 0;
}
.page-wrapper ol li {
    margin-bottom: 5px;
}
.page-wrapper dl dd {
    margin-bottom: 5px;
}
/* === NADPISY OBSAHU === */
.page-wrapper .page-content h1 {
    font-size: 26px;
    font-weight: normal;
}
.page-wrapper .page-content h2 {
    font-size: 24px;
    font-weight: normal;
}
.page-wrapper .page-content h3 {
    font-size: 20px;
    font-weight: normal;
    color: #303079
}
.page-wrapper .page-content h4 {
    font-size: 18px;
    font-weight: normal;
}
.page-wrapper .page-content .title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}
.page-wrapper .page-content .page-row {
    margin-bottom: 30px;
}
/* MQ - Malé úhlopříčky (telefony, méně než 768px) */
@media (max-width: 767px) {
    .wrapper {
        min-height: inherit;
        margin-bottom: 0;
    }
    .wrapper:after {
        content: none;
    }
    aside {
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 0px;
    }
    /* Pro malé úhlopříčky centrujeme na střed a ke stranám */
    .pull-right,
    .pull-left {
        float: none !important;
    }
    .header .menu-top {
        text-align: center;
        margin-top: 10px;
    }
    .header .menu-top li {
        float: none;
        display: inline-block;
    }
    .header br {
        display: none;
    }
    .page-wrapper .page-heading h1.heading-title {
        float: none;
        text-align: center;
        display: block;
    }
    .page-wrapper .breadcrumbs {
        text-align: center;
        display: block;
    }
    .page-wrapper .breadcrumbs ul {
        padding-top: 0;
        padding-left: 0;
        margin: 0 auto;
    }
    .page-wrapper .breadcrumbs ul li {
        float: none;
        display: inline-block;
    }
    .page-wrapper .breadcrumbs ul li.current {
        max-width: inherit;
        overflow: visible;
    }
    .form-group {
        padding-bottom: 10px;
    }
}
/* MQ - Střední úhlopříčka (tablety, 768px a více) */
@media (min-width: 768px) {
    .wrapper {
        min-height: inherit;
        margin-bottom: -30px;
    }
    .wrapper:after {
        content: none;
    }
}
/* Velká úhlopříčka (desktopy, 992px a víc) */
@media (min-width: 992px) {
    .wrapper {
        min-height: 100%;
        margin-bottom: -30px;
        /* stejná výška jako patička */
    }
    .wrapper:after {
        content: "";
        display: block;
        height: 30px;
        /* musí mít stejnou výšku jako patička */
    }
    .page-wrapper {
        min-height: 700px;
    }
}