/* ======= Základ ======= */
html, body {
  height: 100%;
}
body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
  font-weight: 400;
}
p {
  color: #444444;
  line-height: 24px;
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
}
a {
  color: #ba6060;
  /*text-decoration: underline;*/
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #7e3636;
}
/* Velká úhlopříčka (desktopy, 992px a víc) */
@media (min-width: 992px) {
  /* Sticky Footer */
  html,
  body {
    height: 100%;
  }
  body {
    font-size: 14px;
  }
}